/cache
comentarios.csv
posts.csv
usuarios.csv
practica_2/*.txt
#practica_2/*.csv
practica_2/*.png
practica_3/*.png
practica_3/*.md
practica_3/*.pdf
practica_3/__pycache__/
proyecto_final/__pycache__/
#practica_final/*.txt
#practica_final/*.csv
#practica_final/*.png
#practica_final/*.md
